@font-face {
  font-family: "JosefinSans-Bold";
  src: url("./fonts/JosefinSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish-Regular";
  src: url("./fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
